section{
    padding: 18px  120px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 2rem;
    
} 
.course_pay{
    flex: 1 0 33.33%;
    width: 384px;
    /* border: 1px solid red;   */

}
.mainDrContent{
    padding: 20px;
    display: flex;
    align-items:flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    justify-items: baseline;
    flex-direction: column;
    border-radius: 18px;
    background: #F7F8FA;
    margin-bottom: 20px;
    gap: 20px;
}
.mainDrContent span{
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;

    line-height: 140%; /* 25.2px */
}
.linkCourse{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items:center;
    gap: 0.8rem;
}
.linkCourse:hover{
 
    color: #098BED;
  
    font-weight: 600;
   
}
.courseSRC{
    display: flex;
    justify-content: space-between;
}

.course_details{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-content:space-between;
    justify-content: space-between;
}
.payment{
    border-radius: 12px;
    background: #F7F8FA;
    width: 789px;
    height: 506px;
    flex-shrink: 0;
    padding: 24px;
    display: flex;
    
    /* background: hsla(0, 7%, 19%, 0.128); */
}
.pay_detalis{
    display: flex;
    flex: 1 0 60%;
    flex-direction: column;
 
}

.pay_detalis span{
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 33.6px */
    }

.pay_detalis i{
    color: rgba(0, 0, 0, 0.80);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pay_img {
    display: flex;
    flex: 1 0 40%;
   
  

}
.payment_selects{
   margin-top: 24px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    background: #FFF;
    gap: 24px;
}
.payment_select > span{
    color: rgba(0, 0, 0, 0.80);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.payment_select {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 18px;
}
.pay_sel_item{
    display: flex;
    justify-content: space-between;
}
.pay_sel_item > label{
    display: flex;
    gap: 0.7rem;
    flex-direction: column;
}
.pay_sel_item label div:nth-child(1){
    width: 104px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 12px;
    display: grid;
    place-items: center;
    border: 1px solid #0000003a;
}
.apelsin{
    width: 94px;
    height: 27px;
    flex-shrink: 0;
    background: url("https://s3-alpha-sig.figma.com/img/3a84/384e/7d46e6f3b96f43febecdadef70cc6e6d?Expires=1696204800&Signature=QxHpq~zzfRjY8zqi2ZldsAK6cpZ00ZYywERLvSdf6mCI8wt55TWbr1xURIyyeOENJHjMLLLpvprpm~hFrapX~kXaXMxz08lS6QUAgEguALOZzPBNfGZxtjQvGoLPfipTN9KtAYfCi9p76VZ20kKHH0bIsvFCufwSjrzxYTOOlBqypTjj0H4dZ~iJgsvkAkVCMou3JcMna6IOa2NF6xF3pNugAPC0-xmhwrotzzbFTVTOVfODgNN1Y8-EnZQlUVcPsf2Mn-mFI6yIImCys4N1i1BEfnlHWpJpeSijQcKCdvG4OvzsrDwmRuntXHrPjYYCZ9QQw53hno9cBAB3DT15Rw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-repeat: no-repeat;
    background-position: 0px -32px / 100% 344.564%;
    background-size: contain;
}
.courseSRC{
    width: 100%;
    padding: 20px;
display: inline-flex;
justify-content: center;
align-items: center;
gap: 24px;
margin-bottom: 20px;
}
.courseSRC > button:nth-child(2){
    width: 142px;
    height: 47px;
    flex-shrink: 0;
    display: flex;
    border-radius: 12px;
     color:rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    height: 50px;
    padding: 0px 18px 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;


}
.courseSRC > button:nth-child(3){
    display: flex;
    width: 200px;
    height: 50px;
   
    padding: 0px 18px 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    opacity: 0.3;
    background: #E53131;
}
.courseSRC button svg{
     color:rgba(0, 0, 0, 0.2);
}
.courseSRC h2{
    color: rgba(0, 0, 0, 0.80);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.courseDetails > div{
width: 100%;
margin-bottom: 48px;
}
.courseMain{
    position: relative;
}
.course-itm{
    /* position: absolute; */

}
.course-itm h1{
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 44.8px */

}
.course-itm span{
    width: 791px;
    color: rgba(0, 0, 0, 0.80);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pagin{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pagin div{
    display: flex;
    width: 248px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 12px;

}
.prew{
    background: #F7F8FA;
}
.next svg{
   
  transform: translateY(20%);
}
.next{
    display: grid;
    place-items: center;

    color: #ffffff;
    background: #098BED;
}