
.footer{
    background: #F7F8FA!important;
    height: 138px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    justify-content: space-evenly;
   

}


.footer__nav{
    text-decoration: none;
    position: sticky;
     top: 0px;
     z-index: 99;
     padding: 18px 120px;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: nowrap;
     background-color:  #F7F8FA;
}
.footer__nav ul {
    justify-content: center;
    align-items:center;
    text-decoration: none;
    list-style: none;
    display: flex;
    column-gap: 30px;
}
.footer__nav ul li a.active {
 
    color: #098BED;

}


.footer__nav ul li a:hover {
    color: #098BED;
    transform: scale(1.09);
    transition: all 0.4s ease-in;
    

}
.footer__nav ul li a{
    text-decoration: none;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 106.5%; /* 17.04px */

}
.rig.btn a{
    color:#F7F8FA;
}
.rig.btn a,
.nav-bar  a
{
    text-decoration: none;
   
}
.footer p{
    color: rgba(0, 0, 0, 0.50);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 106.5%; /* 14.91px */
}
