/* navbar boshi */
:root{
    --nav__bg_black : rgb(0, 0, 0);
    --nav__bg_light : #F7F8FA;
    --btn__hover: rgba(5, 25, 174, 0.853);

}
.nav-bar{
    text-decoration: none;
   position: sticky;
    top: 0px;
    z-index: 99;
    padding: 18px 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color:  #F7F8FA;
 
}
.logo{ cursor: pointer;
    text-decoration: none;
     width: 159px;
    height: 48px;
    color: black;
    
    background: #D9D9D9;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
}
.logo span{ 
    background: #D9D9D9;
    text-decoration: none;
    cursor: pointer;
    color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 106.5%; /* 17.04px */
}
.nav-bar Link{
    text-decoration: none;
}
.nav-bar ul{
    
    text-decoration: none;
    list-style: none;
    display: flex;
    column-gap: 30px;
    
}
.nav-bar ul li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-align: center;
    line-height: 200%;
}
.register{
    display: flex;
    width: 198px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
.btn{
    cursor: pointer;
    border-radius: 12px;
    background: #098BED;
    outline: none;
    text-align: center;
    border-color: transparent;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    width: 248px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
ul > li.active a,
ul > li a:hover{
    
    transform: scale(1.1);
    transition: all 0.3s ease-in;
  
    color: #62BCFF;
}
 /* dropdown boshi*/
 .register.dropdown{
    cursor: pointer;
    width: 94px;
    height: 44px;
    border-radius: 500px;
    background: #098BED;
    position: relative;
    
    
 }
 .register.dropdown:hover,
 
 
 .dropdown__item .btn__sign:hover{}
 .dropdown__item .btn__login:hover
 {
    
    background: #098aed8b;
    transition: all 0.2s ease-in;
 }
 .dropdown__item{
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.10);
    position: absolute;
    background: #fff;
    min-width: 275px;
    min-height: 122px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    cursor: pointer;
    
    /* transform: translateY(90px); */
    transform: translate(-32% , 90px);
    /* transform: translateX(40px); */
 }
 .btn__login,
 .btn__sign{
    
    color: #fff;
    outline: none;
    border-color:transparent;
    display: flex;
    width: 239px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
   
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
 }
 .btn__login{
    background: #098BED;
 }
 .btn__sign{
    color: #098BED;
 }
 
 /* dropdown oxiri*/





/* navbar oxiri */
/* header main boshi */
.header-main{
    width: 100%;
    height: 671px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
    flex-shrink: 0;
    background: lightgray -402px -378.886px / 163.056% 196.704% no-repeat;
    background-repeat: repeat;
    position: relative;
}
.main-title{
   
    position: absolute;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items:center;
    bottom:0;
    text-align: center;
    flex-direction: column;
   

}
.header-main p{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;

}
.header-main p,
.header-main button{
    cursor: pointer;
    position: relative;
    color: #fff;
    
}

.user_info{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    padding: 20px;
    
}
.user_info p{
    text-align: center;
    color: rgba(0, 0, 0, 0.50);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 106.5%; /* 17.04px */
    margin-bottom: 8px;
}
.user_info h5{
    text-align: center;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 106.5%; /* 19.17px */
    margin-bottom: 27px
}
.user_info a span{

    display: flex;
    
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 106.5%; /* 17.04px */
}
.user_info a{
    display: grid;
    place-items: center;
}
.user_info a span:hover{
    color:#098BED;
}
.user_info a span h4 {
    
    margin-bottom: 25px;
    margin-left: 8px;
}
.user_info .red{
    color:#E53131;
}
.user_info .red:hover,
.user_info a span:hover{
    transition: all 0.5s;
    color:#098BED;
}

@media screen and (max-width: 768px) {
  
    .nav-bar{
        
        
    }
    .header-main {
      margin: 0 auto;
      max-width: 750px;
      padding: 0 auto;
     
    }

}