/* header-section-5 boshi*/
.header__section-5{
  
}
.header__section-5 .section-5__1-f{
    margin: 60px auto;
    width: 973px;
    height: 314px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #F7F8FA;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 47px 224px;

}
.header__section-5 .section-5__1-f .my_name {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 24px;
}
.header__section-5 .section-5__1-f .my_name span{
    text-align: center;
}
.header__section-5 .section-5__1-f .my_name h3{
    text-align: center;
    font-size: 2rem;

}
/* section-5 youtube boshi*/
.sectiot-5__youTube .my_name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectiot-5__youTube .my_name h3{
   
    font-size: 40px;
    
}
.sectiot-5__youTube{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 43px;
}
.sectiot-5__youTube__cards{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: ; */
}
.youTube__cards{
    width: 387px;
    height: 254px;
    flex-shrink: 0;
}
.you-tube__logo{
    position: absolute;
    width: 345px;
    height: 198px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 12px;
    background: url('https://s3-alpha-sig.figma.com/img/d6eb/73b5/e710e1fe0bf420a9873b37aa5b5a9172?Expires=1695600000&Signature=kABvzwEcavOz7oNEIH6JIaA1D2kGgNo75-9CexWkch79bkeY-N6nGDsH90WpTDb-TGq5d5bQDMTQrNTDov2ABlBOZmoGU11lntMfW9Cz~hwDaDvmscGftQtAFqwOspb0lASUGew2E83or~yamB7kxkMBatV-VzYmV7DZ7MMsstmJON7YRP8hGStU1bQOBw0c0yJu5-0Pj7w45SHPZSP4FaGSnEUfRXKIwtArA-Bi~R28qWPHm081U8NND8lx4sgRaf980GJ~MMmVTnkUCyz47Dge2xOtm7jvSTJuIq9kIRGNq09AyAXyd9a75eHBB8wBXHJ-U-sAFpDKDMfoLTOK2Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'), lightgray -39.985px -9px / 120.664% 105.512% no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.you-tube__logo img{
    position: relative;
    width: 85px;
    height: 63px;
    flex-shrink: 0;
    border-radius: 12px;
        
}