/* header-section-5 boshi*/
.header__section-5{
  
}
.header__section-5 .section-5__1-f{
    margin: 60px auto;
    width: 973px;
    height: 314px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #F7F8FA;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 47px 224px;

}
.header__section-5 .section-5__1-f .my_name {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 24px;
}
.header__section-5 .section-5__1-f .my_name span{
    text-align: center;
}
.header__section-5 .section-5__1-f .my_name h3{
    text-align: center;
    font-size: 2rem;

}
/* section-5 youtube boshi*/
.sectiot-5__youTube .my_name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectiot-5__youTube .my_name h3{
   
    font-size: 40px;
    
}
.sectiot-5__youTube{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 43px;
}
.sectiot-5__youTube__cards{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: ; */
}
.youTube__cards{
    width: 387px;
    height: 254px;
    flex-shrink: 0;
}
.you-tube__logo{
    position: absolute;
    width: 345px;
    height: 198px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 12px;
   
    
}
.you-tube__logo iframe{
  border-radius: 12px;
        
}