.selected__course{
    padding: 45px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.selesct__1,
.selesct__2{
    width: 100%;
    flex: 1 0 calc(50% - 10px);
}
.selesct__1 h3{
    
    font-size: 43px;
    
    margin-bottom: 20px;
}
.selesct__1 p{
    width: 508px;
    color: rgba(0, 0, 0, 0.80);
    font-weight: 400;
    font-size: 18px;
    
    margin-bottom: 48px;
    }
.selesct__1 h5{
    font-size: 24px;
 
color: rgba(0, 0, 0, 0.80);

}
.keyConsepts{
        flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.keyConsepts .div{
    width: 413px;
    display: grid;
    place-items: center;
    margin-top: 27.5px;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 1.1rem;
    color: #000;
    font-family: Poppins;
    font-size: 1px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;

}
.selesct__1 > p{
    width: 100%;
    margin-top:33px;
    width: 504px;
    color: rgba(0, 0, 0, 0.80);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.selesct__2 .img{
    margin-bottom: 30px;
    width: 615px;
    height: 520px;
    flex-shrink: 0;
    flex-shrink: 0;
    border-radius: 18px;
    border-radius: 18px;
    overflow: hidden;

}

.selesct__2 .img img{
    object-fit: contain;
    width: 615px;
    height: 520px;
}
/* selesction course ichki qismi */

.courseVideo{
    display: grid;
    place-items: center;
    /* display: none; */
    width: 100%;
    height: 320px;
}